* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202124;
    color: white;
}

input, textarea {
    padding: 12px;
    margin: 12px 0;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
    font-weight: bold;
}

.todo-app__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 16px;
    border-bottom: 2px solid white;
    background-color: darkslategray;
    color: white;
}

.todo-app__header h1 {
    margin: 8px 0;
    flex: 1;
}


.todo-app__body {
    max-width: 1000px;
    margin: 16px auto;
    padding: 12px;
    opacity: 0;
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.todo-app__body h2 {
    font-weight: normal;
    margin: 16px 0;
}

.todo-input {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 48px;
}

.todo-input input, .todo-input textarea {
    display: block;
    width: 100%;
}

.todo-input__title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.todo-input__desc-limit {
    font-size: 14px;
    text-align: right;
    color: #aaa;
}

.todo-input__body {
    min-height: 175px;  
}

.todo-input button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    /* transition: background-color 0.3s, transform 0.3s; */
}

.todo-input button:hover {
    background-color: darkslategray;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    animation: pulse-animation 1s ease-in-out infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.todo-app__list-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
}

.todo-app__list {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    gap: 16px;
    margin-bottom: 48px;
    margin-left: 20px;
    margin-right: 20px;
}
  
.todo-app__list__empty-message {
    font-style: italic;
    color: #aaa;
}
  
.todo-item__body {
    border: 1px solid #aaa;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 63, 63);
}
  
.todo-item__body__content {
    padding: 12px;
    flex: 1;
}
  
.todo-item__body__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
}
  
.todo-item__body__due-date {
    font-size: 12px;
    padding-top: 10px;
    color: #aaa;
  }
  
.todo-item__body__description {
    font-size: 14px;
    padding-top: 5px;
    overflow-wrap: break-word;
}
  
.todo-item__body__buttons {
    display: flex;
}
  
.todo-item__delete-button,.todo-item__done-button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border: 1px solid #aaa;
    padding: 8px 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
  
.todo-item__delete-button {
    color: #ff5f52;
}
  
.todo-item__done-button {
    color: #11c11f;
}
  
.todo-item__done-button:hover {
    color: white;
    background-color: #07b315;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s;
    animation: pulse-animation 1s ease-in-out infinite;
}
  
.todo-item__delete-button:hover {
    color: white;
    background-color: #ff5f52;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s;
    animation: pulse-animation 1s ease-in-out infinite;
}
  
@media only screen and (min-width: 500px) {
    .todo-app__list {
      grid-template-columns: 1fr 1fr;
    }
}
  
@media only screen and (min-width: 800px) {
    .todo-app__list {
      grid-template-columns: repeat(5, 1fr);
    }
}
